:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --headings-font-family: "Playfair Display", serif;
  --secondary-font-family: "Poppins", serif;
}
body {
  font-family: var(--secondary-font-family);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--headings-font-family);
  font-weight: bold;
  color: black;
}

.hero h2 {
  font-family: var(--secondary-font-family);
  font-size: 24px;
  font-weight: regular;
  line-height: 2;
  color: #272142;
}

.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  font-size: 96px;
}
.hero p {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}
.btn-branding {
  background-color: var(--branding-color);
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
}
p {
  font-size: 18px;
  text-align: center;
}

h2 {
  font-weight: bold;
  font-size: 64px;
}
.btn-branding-outsourcing {
  color: var(--branding-color);
  border-color: var(--branding-color);
  padding: 18px 25px;
  border-radius: 4px;
  font-size: 16px;
  font-family: var(--secondary-font-family);
  background-color: white;
  margin-top: 25px;
  margin-bottom: 110px;
}
.images-descriptions {
  background-color: white;
}
.images-descriptions p {
  padding-top: 60px;
  padding-bottom: 30px;
}
.container p {
  text-align: left;
  opacity: 70%;
}

.images-descriptions h2 {
  padding-top: 95px;
}

.images-descriptions p {
  text-align: left;
  opacity: 70%;
}

.description {
  padding-left: 61px;
}
.content-container {
  padding: 160px 20px;
}
.content {
  padding: 20px 94px 55px 0;
}
.content-container h1 {
  font-size: 64px;
}
.content-container h2 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
  font-size: 18px;
}
.content-container p {
  font-family: var(--secondary-font-family);
  font-size: 16px;
  font-weight: regular;
}

@media (max-width: 900px) {
  .hero h1 {
    font-size: 60x;
    line-height: 1.5;
  }

  .hero {
    padding-top: 55px;
  }

  .images-descriptions h2 {
    font-size: 50px;
  }
  .images-descriptions p {
    margin-bottom: 10px;
  }
  .description {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding-top: 10px;
  }
  .content {
    text-align: center;
    padding: 0;
    margin-top: 0;
  }
  .content-container h1 {
    padding: 0;
    margin-top: 0;
  }
  .content-container img {
    padding-top: 70px;
  }
}
